.Leaderboard {
    width: 300px;
    background-color: white;
}

.Leaderboard > h2 {
    text-decoration: underline;
}

.leader-list {
    padding: 0;
}

.leader-list > li {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.score-item {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}