.WinForm {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 3;
    border: 5px ridge #EF161F;
    border-radius: 5px;
    background-color: white;
}

.WinForm > form {
    display: flex;
    flex-direction: column;
}

.win-message {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

#name-input {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
}

#submit-button {
    width: 50%;
    height: 30px;
    margin: auto;
    margin-bottom: 20px;
    background-color: #0288E1;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}

#submit-button:hover {
    transform: scale(1.03);
}